<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usrtabl</servlet-name>
        <servlet-class>usrtabl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rem</servlet-name>
        <servlet-class>rem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mod</servlet-name>
        <servlet-class>mod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>backtoadmin</servlet-name>
        <servlet-class>backtoadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cle</servlet-name>
        <servlet-class>cle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewuser</servlet-name>
        <servlet-class>viewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clea</servlet-name>
        <servlet-class>clea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeuser</servlet-name>
        <servlet-class>removeuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usrtblrmv</servlet-name>
        <servlet-class>usrtblrmv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usrtabl</servlet-name>
        <url-pattern>/usrtabl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rem</servlet-name>
        <url-pattern>/rem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mod</servlet-name>
        <url-pattern>/mod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>backtoadmin</servlet-name>
        <url-pattern>/backtoadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cle</servlet-name>
        <url-pattern>/cle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewuser</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clea</servlet-name>
        <url-pattern>/clea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeuser</servlet-name>
        <url-pattern>/removeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usrtblrmv</servlet-name>
        <url-pattern>/usrtblrmv</url-pattern>
    </servlet-mapping>
</web-app>
